@tailwind base;
@tailwind components;
@tailwind utilities;



/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */



.footercard {
  background-image: url("../../public/assets/images/sales\ card\ bg.webp");
  object-fit: contain;
}